boto==2.45.0
bz2file==0.98
Django==1.10
django-environ==0.4.0
djangorestframework==3.5.1
gensim==0.13.4.1
numpy==1.12.0
psycopg2==2.6.2
requests==2.13.0
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
smart-open==1.4.0
xmltodict==0.10.2
uwsgi==2.0.15
social-auth-app-django
python-dotenv