# normally you leave this at the default of 1024
events {
  worker_connections 1024;
}

http {
  # cf http:/blog.maxcdn.com/accept-encoding-its-vary-important/
  gzip_vary on;
  gzip_proxied any;
  gzip_types *;

  server_tokens off;

  upstream django {
    server webapp:8000;
  }

#  server {
#    # rewrite all HTTP to HTTPS
#    listen 80;
#    server_name ${NGINX_SERVER_NAME};

#    location /static {
#      alias /srv/static-files;

#      # http://stackoverflow.com/q/19213510/1346257

#      include /etc/nginx/mime.types;
#    }

#    location = /robots.txt { return 200 "User-agen: *\nAllow: /"; }
#    location = /favicon.ico { access_log off; log_not_found off; return 404; }

#    # Prevent serving of sysfiles / vim backup files
#    location ~ /\.  {access_log off; log_not_found off; deny all; }
#    location ~ ~$ {access_log off; log_not_found off; deny all; }

#    location / {
#      uwsgi_pass  django;
#      include	  uwsgi_params;
#    }
#  }
#}

  server {
    # rewrite all HTTP to HTTPS
    listen 80;
    listen [::]:80;
    server_name ${NGINX_SERVER_NAME};

    location / {
      return 301 https://${NGINX_SERVER_NAME}$request_uri?;
      # rewrite ^(.*) https://$host$1 permanent;
    }

    location ^~ /.well-known {
      allow all;
      root  /data/letsencrypt/;
    }
  }

  server {
    listen 443 ssl default_server;
    listen [::]:443;
    server_name ${NGINX_SERVER_NAME};

    ssl on;

    add_header                Strict-Transport-Security "max-age=31536000" always;

    # http://nginx.org/en/docs/gttp/configurating_https_servers.html#optimization
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout 10m;

    ssl_prefer_server_ciphers on;
    ssl_ciphers               "ECDH+AESGCM:ECDH+AES256:ECDH+AES128:!ADH:!AECDH:!MD5;";
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # ie defaults minus SSLv3

    ssl_stapling              on;
    ssl_stapling_verify       on;
    resolver                  8.8.8.8 8.8.4.4;

    # see http://nginx.org/en/docs/http/configurinNGINX_https_servers.html
    ssl_certificate /etc/letsencrypt/live/${NGINX_SERVER_NAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${NGINX_SERVER_NAME}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/${NGINX_SERVER_NAME}/chain.pem;

    access_log /dev/stdout;
    error_log /dev/stderr info;

    location /static {
      alias /srv/static-files;

      # http://stackoverflow.com/q/19213510/1346257

      include /etc/nginx/mime.types;
    }

    location = /robots.txt { return 200 "User-agen: *\nAllow: /"; }
    location = /favicon.ico { access_log off; log_not_found off; return 404; }

    # Prevent serving of sysfiles / vim backup files
    location ~ /\.  {access_log off; log_not_found off; deny all; }
    location ~ ~$ {access_log off; log_not_found off; deny all; }

    location / {
      uwsgi_pass  django;
      include	  uwsgi_params;
    }
  }
 }
