{% extends 'gui/base.html' %}

{% block content %}

    {% if user.is_authenticated %}

    <div class="container" style="width:1000px; padding-bottom: 50px">
        <div class="title">Play Video</div>
        <hr>

        <div class="media attribution">
            <div class="col-md-8">
              <!-- <h6>{{ video.title }}</h6> -->
              <h6 style="text-align:center">{{ video.title }}</h6>
                {% load static %}
                <video id="my_video" onclick="togglePause()" class="video-js" controls preload="auto" data-setup="{}">
                    <source src="{% static 'gui/videos/mecanex/mp4/' %}{{ video.euscreen }}.mp4" type="video/mp4">
                </video>
{#                <img src="{% static 'gui/images/mountain-lake.jpg' %}" alt="Mock-up image" width="100%" style="padding-top: 50px">#}
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-6">
                            <div style="text-align:left"><em>genre</em>: {{ video.genre }}</div>
                            <div style="text-align:left"><em>topic</em>: {{ video.topic }}</div>
                            <div style="text-align:left"><em>location</em>: {{ video.geographical_coverage }}</div>
{#                            <a onclick="PlayAction({{ user }}, {{ video }}, '{{ site_url }}')" href="#" class="fui-play" style="padding-right: 10px; color: black"></a>#}
{#                            <a onclick="StopAction({{ user }}, {{ video }}, '{{ site_url }}')" href="#" class="fui-pause" style="padding-right: 40px; color: black"></a>#}

                        </div>
                        <div class="col-md-6 text-right">

                            <span class="twitter-share" data-js="twitter-share" style="padding-right: 0px"><img src="{% static 'gui/images/Twitter.png' %}" alt="Share on Twitter" height="30" width="30"></span>
                            <span class="facebook-share" data-js="facebook-share" style="padding-right: 20px"><img src="{% static 'gui/images/Facebook.png' %}" alt="Share on Facebook" height="30" width="30"></span>
                            <a onclick="LikeAction({{ user }}, {{ video }}, '{{ site_url }}')" href="#" class="fui-heart" style="padding-right: 20px; color: black"></a>
                            <a onclick="DislikeAction({{ user }}, {{ video }}, '{{ site_url }}')" href="#" class="fui-cross" style="padding-right: 10px; color: black"></a>
                        </div>
                    </div>
                </div>

                </br>
                <div>
                  {{ video.summary }}
                </div>
            </div>

            <div class="col-md-4" >
                <table class="table table-fixed">
                    <thead>
                    <tr>
                        <th>Enrichments</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if enrichments %}
                            {% for enrichment in enrichments %}
                                <tr>
                                    <td>
                                        <a href="{{ enrichment.wikipedia }}"><img src="{{ enrichment.thumbnail }}" class="img-circle" alt="missing image" width="50px" height="50px" style="margin: 10px;"></a>
                                        <a onclick="ClickEnrichmentAction({{ user }}, {{ video }}, {{ enrichment }}, '{{ site_url }}')" class="inline" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">{{ enrichment.enrichment_id }}</a>
                                        <div class="inline">[{{ enrichment.frame }}]</div>
                                        <a onclick="ShareEnrichmentAction({{ user }}, {{ video }}, {{ enrichment }}, '{{ site_url }}')" href="#" class="fui-link inline float-right" style="padding-left: 20px; color: black"></a>
                                        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">{{ enrichment.description }}</div>
                                    </td>
                                </tr>

                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>
                                    <p>No enrichments yet on this video</p>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div> <!-- /container -->

    {% else %}

        <div class="container" style="width:500px">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">You need to login first!</h4>
            </div>
        </div>

    {% endif %}

    <script>
    window.onbeforeunload = function() {
        UpdateProfile({{ user }}, '{{ video.euscreen }}', '{{ site_url }}');
    }
    </script>

    <script src="{% static 'gui/js/vendor/video.js' %}"></script>

    <script>
        var myPlayer = videojs("my_video").ready(function(){
          var player = this;

          player.on('ended', function() {
            console.log("ended");
            let time = myPlayer.currentTime();
            let duration = myPlayer.duration();
            StopAction({{ user }}, '{{ video.euscreen }}', '{{ site_url }}' , time, duration);
          });
        });

        togglePause = function(){
          if (myPlayer.paused()) {
            console.log("paused");
            let time = myPlayer.currentTime();
            let duration = myPlayer.duration();
            StopAction({{ user }}, '{{ video.euscreen }}', '{{ site_url }}' , time, duration);
          }
          else {
            console.log("playing");
            let time = myPlayer.currentTime();
            PlayAction({{ user }}, '{{ video.euscreen }}', '{{ site_url }}', time);
          }
        }
    </script>

    <script>
        var twitterShare = document.querySelector('[data-js="twitter-share"]');

        twitterShare.onclick = function(e) {
          e.preventDefault();
          ShareAction({{ user }}, '{{ video.euscreen }}', '{{ site_url }}');
          var twitterWindow = window.open('https://twitter.com/share?url=' + document.URL, 'twitter-popup', 'height=350,width=600');
          if(twitterWindow.focus) { twitterWindow.focus(); }
            return false;
          }

        var facebookShare = document.querySelector('[data-js="facebook-share"]');

        facebookShare.onclick = function(e) {
          e.preventDefault();
          ShareAction({{ user }}, '{{ video.euscreen }}', '{{ site_url }}');
          var facebookWindow = window.open('https://www.facebook.com/sharer/sharer.php?u=' + document.URL, 'facebook-popup', 'height=350,width=600');
          if(facebookWindow.focus) { facebookWindow.focus(); }
            return false;
        }
    </script>


{% endblock %}
