{% extends 'gui/base.html' %}

{% block content %}

    <div class="col-md-6">
        <div class="container" style="width:500px; padding-bottom: 50px">

            <div class="title">Search Videos</div>
            <hr>

            <form onsubmit="return false;" id="formID">
                <div class="form-group">
                    <div class="input-group">
                        <input id="search_input" class="form-control" placeholder="Search for a video..." type="search">
                        <span class="input-group-btn">
                          <button type="submit" class="btn" onclick="Search_videos({{ user }},'{{ site_url }}')"><span class="fui-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>

            <div class="media attribution">
                <table id="myTable" class="table">
                    <thead>
                    <tr>
                        <th style="width: 50px;">Play</th>
                        <th>Video</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <p>Search videos on database</p>
                            </td>
                        </tr>
{#                        {% for video in recommended_videos %}#}
{#                            <tr>#}
{#                                <td align="center"><a onclick="WatchVideo({{ user }}, '{{ video.euscreen }}', '{{ site_url }}')" href="{% url "play_video" euscreen=video.euscreen %}" class="fui-play"></a></td>#}
{#                                <td>#}
{#                                    <a class="inline" style="color: inherit;" data-toggle="collapse" data-parent="#accordion" href="#collapse_search{{ forloop.counter }}">{{ video.title }}</a>#}
{#                                    <div id="collapse_search{{ forloop.counter }}" class="panel-collapse collapse">#}
{#                                        <small>{{ video.summary }}</small>#}
{#                                    </div>#}
{#                                </td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
                    </tbody>
                </table>

            </div>

        </div><!-- /container -->
    </div>

    <div class="col-md-6">
        <div class="container" style="width:500px; padding-bottom: 50px">

            <div class="title">Recommended Videos</div>
            <hr>

            <div class="media attribution">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 50px;">Play</th>
                        <th>Video</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for video in recommended_videos %}
                            <tr>
                                <td align="center"><a onclick="WatchVideo({{ user }}, '{{ video.euscreen }}', '{{ site_url }}')" href="{% url "play_video" euscreen=video.euscreen %}" class="fui-play"></a></td>
                                <td>
                                    <a class="inline" style="color: inherit;" data-toggle="collapse" data-parent="#accordion" href="#collapse_recommend{{ forloop.counter }}">{{ video.title }}</a>
                                    <div id="collapse_recommend{{ forloop.counter }}" class="panel-collapse collapse">
                                        <small>{{ video.summary }}</small>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div><!-- /container -->
    </div>

    <script>
    function Search_videos(user, site_url) {
        var csrftoken = Cookies.get('csrftoken');
        var xhttp =  new XMLHttpRequest();
        var search_input = document.getElementById('search_input');
        var query = search_input.value;
        console.log(query);
        xhttp.onreadystatechange=function()
        {
            if (xhttp.readyState==4 && xhttp.status==200)
            {
                var response = JSON.parse(xhttp.responseText);
                Display_searches(response, user, site_url);
            }
         };
        // open(method, url, asynchronous)
        xhttp.open("POST", site_url.toString() + "/api/search_videos", false);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.setRequestHeader("X-CSRFToken", csrftoken);
        var data = JSON.stringify({
            "query": query.toString()
         });

        xhttp.send(data);
        var response = JSON.parse(xhttp.responseText);
        console.log(response);

        make_pagination();
    }
    function Display_searches(response, user, site_url) {
        var out = "";
        var i;
        var videos_list = response["videos"];

        if (videos_list.length == 0) {
            out += '<tr>' +
                        '<td></td>' +
                        '<td>' +
                            '<p>No matching video found. Search again</p>' +
                        '</td>' +
                    '</tr>'
         }

        else {

            for(i = 0; i < videos_list.length; i++) {
                    out +=  '<tr>' +
                                '<td align="center"><a onclick="WatchVideo(' + user + ',\'' + videos_list[i].euscreen + '\',\'' + site_url + '\')" href="' + videos_list[i].euscreen + '" class="fui-play"></a></td>' +
                                '<td>' +
                                    '<a class="inline" style="color: inherit;" data-toggle="collapse" data-parent="#accordion" href="#collapse_search' + i + '">' + videos_list[i].title +'</a>' +
                                    '<div id="collapse_search' + i + '" class="panel-collapse collapse">' +
                                        '<small>' + videos_list[i].summary +'</small>' +
                                    '</div>' +
                                '</td>' +
                            '</tr>';
                 }
         }
         document.getElementById("myTable").getElementsByTagName("tbody")[0].innerHTML= out;
    }
    </script>

{% endblock %}