{% extends 'gui/base.html' %}

{% block content %}

    {% if user.is_authenticated %}

    <div class="container" style="width:500px; padding-bottom: 50px">
        <div class="title">Recommended Videos</div>
        <hr>

        <div class="media attribution">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 50px;">Play</th>
                    <th>Video</th>
                </tr>
                </thead>
                <tbody>
                    {% for video in videos %}
                        <tr>
                            <td align="center"><a onclick="WatchVideo({{ user }}, '{{ video.euscreen }}', '{{ site_url }}')" href="{% url "play_video" euscreen=video.euscreen %}" class="fui-play"></a></td>
                            <td>
                                <a class="inline" style="color: inherit;" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">{{ video.title }}</a>
                                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                                    <small>{{ video.summary }}</small>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div> <!-- /container -->

    {% else %}

        <div class="container" style="width:500px">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">You need to login first!</h4>
            </div>
        </div>

    {% endif %}

{% endblock %}