/*.navbar-inverse {*/
    /*background-color: indianred;*/
/*}*/

/*.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {*/
    /*background-color: darkred;*/
/*}*/

/*.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {*/
    /*color: orangered;*/
/*}*/

.navbar-brand {
    font-size: 20px;
    padding: 5px 21px;
}

html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}

.dropdown-menu {
    width: 250px;
    color: white;
}

.footer {
    position: absolute;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear:both;
    padding-top:20px;
    bottom: 0;
    width: 100%;
}

.title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.inline {
    display: inline-block;
}

#terms {
    font-size: .7em;
}

.pre-scrollable {
    max-height: 700px;
    overflow-y: scroll;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 500px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(92, 184, 92);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(92, 184, 92);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}